{% extends "template.html" %}
{% block title %}
Waterbot
{% endblock %}
{% block content %}

<div class="container mt-3">
	
	<h3>Current Watering Schedule</h3>
	<p> </p>

	{% if session["user_id"] %}
	
	<!-- Table layout when logged in -->

	<form action="/" method="POST">

	<table class="table table-bordered table-striped table-hover text-center">
		<thead class="text-bg-dark"><tr>
			<th>
				Days
			</th>
			<th>
				Watering Day
			</th>
			<th>
				Start Time
			</th>
			<th>
				Run Time
			</th>
		</tr></thead>

		{% for day in schedule %}
		<tr>
			<td>
				{{ day['day'] }}
			</td>
			<td>
				{% if day['active'] == 'YES' %} 
				<input class="form-check-input" type="checkbox" name="{{day['day']}}" checked> 
				{% else %}
				<input class="form-check-input" type="checkbox" name="{{day['day']}}"> 
				{% endif %}
			</td>
			<td>
				<select class="form-select" name="time{{ day['day'] }}">
					{% for time in times %}
						{% if time==day['time'] %} 
						<option value="{{ time }}" selected>{{ time }}</option> 
						{% else %}
						<option value="{{ time }}" >{{ time }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</td>
			<td>

				<select class="form-select" name="runtime{{ day['day'] }}">
					{% for runt in runtimes %}
						{% if runt==day['runtime'] %} 
						<option value="{{ runt }}" selected>{{ runt }}</option> 
						{% else %}
						<option value="{{ runt }}" >{{ runt }} </option>
						{% endif %}
					{% endfor %}
				</select>
			</td>
		</tr>
		{% endfor %}
		</table>
		<div class="text-end">
			
				<a class="btn btn-secondary" href="/">Cancel Changes</a>
				<button class="btn btn-success">Save Changes</button>
			</form>
		</div>

	{% else %}

			<!-- Table layout when not logged in -->

	<table class="table table-bordered table-striped table-hover text-center">
		<thead class="text-bg-secondary"><tr>
			<th>
				Days
			</th>
			<th>
				Watering Day
			</th>
			<th>
				Start Time
			</th>
			<th>
				Run Time
			</th>
		</tr></thead>

		{% for day in schedule %}
		<tr>
			<td>
				{{ day['day'] }}
			</td>
			{% if day['active'] == 'YES' %}
			<td>
				<i class="bi bi-check-square"></i>
			</td>	
			<td>
				{{ day['time'] }}
			</td>	
			<td>
				{{ day['runtime'] }}
			</td>
			{% else %}
			<td>
				<i class="bi bi-square"></i>
			</td>
			<td class="text-muted">
				<i>
					{{ day['time'] }}
				</i>
			</td>
			<td class="text-muted">
				<i>
					{{ day['runtime'] }}
				</i>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	{% endif %}	
	</table>
	</div>
</div>

{% endblock %}
