{% extends "template.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
<div class="container">

<!-- Conditional Error Message (Rendered as required)-->
{% if error %}
<div class="alert alert-danger alert-dismissible show fade m-4" role="alert">
  <strong>Error!</strong> {{ error }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}

<div class="text-bg-light border rounded m-4 p-3">
    <div class="row"><div class="col-xl-4"></div>
    <div class="col-xl-4 text-start">
    <h3>Login</h3> 
    <form class="text-end" action="/login" method="post">
            <input autocomplete="off" autofocus class="form-control my-3" id="username" name="username" placeholder="Username" type="text">
            <input class="form-control mb-3" id="password" name="password" placeholder="Password" type="password">
            <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    </div>
    
</div>
</div>

</div>

{% endblock %}